
		td, th {
			border: 4px solid grey;
			text-align: center;

		}
		
		.horas {
			background-color:DarkGrey;
			}
		
		.WOT {
			background-color:Cyan;
			}
			
		.ENG {
			background-color:BlueViolet;
		}
		
		.CS {
			background-color:Orange
		}
		
		.DB { 
			background-color:LightGreen
		}
		
		.DE {
			background-color: red
		}
		
		.P {
			background-color:Coral
		}
		
		.ML {
			background-color:Gold;
		}
		
		table{
			border-collapse: collapse;
		}

		#legend {
			background-color: royalblue;
			color: white;
			border: 5px dotted darkblue;
			width: 400px;
			list-style-type: square;
		}